<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-title">
      Supabase + Angular
    </div>
    <div class="navbar-buttons">
      <button routerLink="/file" class="btn btn-signup" *ngIf="isLogin">Imágenes</button>
      <button routerLink="/sign-in" class="btn btn-signin" *ngIf="!isLogin">Sign In/Up</button>
      <button routerLink="/home" class="btn btn-home">Home</button>
      <button routerLink="/home" class="btn" (click)="signOut()" *ngIf="isLogin">Sign OUT</button>
    </div>
  </div>
</nav>